@page
@model CiudadanosSanos.Pages.AtencionMedicas.IndexModel
@{
	ViewData["Title"] = "Atencion Medica";
}
<h1> Atencion Medicas</h1>
<p>
	<a asp-page="Create" class="btn btn-success">Create New </a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.AtencionMedicas[0].Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtencionMedicas[0].NameMedico)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtencionMedicas[0].NamePaciente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtencionMedicas[0].Fecha)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtencionMedicas	[0].PacienteId)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.AtencionMedicas)
		{
			<tr>
				<td>
					@Html.DisplayFor( modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor( modelItem => item.NameMedico)
				</td>
				<td>
					@Html.DisplayFor( modelItem => item.NamePaciente)
				</td>
				<td>
					@Html.DisplayFor( modelItem => item.Fecha)
				</td>
				<td>
					@Html.DisplayFor( modelItem => item.PacienteId)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
					<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>